// color names
$background-color: "background";
$text-color: "text";
$primary-color: "primary";
$secondary-color: "secondary";

// theme names
$light-theme: "light-theme";
$dark-theme: "dark-theme";

// theme colors
$themes: (
        $light-theme: (
                $background-color: #fbfdfd,
                $text-color: #232626,
                $primary-color: #3d73cc,
                $secondary-color: #9b9b97,
        ),
        $dark-theme: (
                $background-color: #232626,
                $text-color: #fbfdfd,
                $primary-color: #3d73cc,
                $secondary-color: #9b9b97,
        ),
);

// mixins
@mixin themeProperty($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
  } @else {
    #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
  }
}

@mixin theme($property, $color, $additionalPropertiesPositionIsFront: false, $additionalProperties: '') {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themeProperty($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);

  @media (prefers-color-scheme: dark) {
    @include themeProperty($dark, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
  }
}

body {
  @include theme('background-color', $background-color);
  @include theme('color', $text-color);
}