@import "vars";

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 50px repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.sidebar {
    grid-area: 1 / 1 / 7 / 2;
}

.dashboard .navbar {
    grid-area: 1 / 1 / 2 / 3;
}

.content {
    grid-area: 2 / 2 / 7 / 6;

    &.error-page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 50%;
            max-height: calc(100% - $nav-height);
        }
    }
}