@import "theme";

.ping-pong {
  background-color: black;
  width: 500px;
  height: 400px;
  margin: 20px auto;
  position: relative;

  .ping-pong-paddle {
    background-color: white;
    position: absolute;
    left: 10px;
    width: 15px;
    height: 100px;

    margin-top: -50px;
  }

  .ping-pong-paddle-right {
    // move to the left
    position: absolute;
    right: 10px;
    left: unset;
  }

  .ping-pong-ball {
    background-color: white;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    margin-top: -15px;
    margin-left: -15px;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
  }

  .ping-pong-switch {
    width: 60px;
    height: 35px;
    padding: 5px;

    position: absolute;
    top: calc(50% - 17.5px);
    left: calc(50% - 30px);

    background-color: #9b9b97;
    border-radius: 50px;
    z-index: 10;
  }

  .ping-pong-switch.active {
    transition-duration: 0.5s;
    background-color: #3d73cc;
  }

  .ping-pong-divider {
    width: 2px;
    height: 100%;
    border-left: 6px dashed white;
    position: absolute;
    left: calc(50% - 3px);
    top: 0;
  }
}