@import "theme";

.sidebar {
    height: 100%;
    width: 100%;
    @include theme('background-color', $primary-color);

    padding: 0 0 1rem;

    .sidebar-divider {
        @include theme('background-color', $secondary-color);
        width: calc(100% - 1rem);
        height: 5px;
        border-radius: 5px;
        margin: 0 0.5rem;
        display: block;

        &:first-of-type {
            margin-bottom: 0.5rem;
        }
    }

    .team {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        @include theme('background-color', $primary-color);

        &:first-of-type {
            margin-top: 0;
        }

        .team-name {
            font-size: 1.2rem;
            font-weight: 600;

            .project {
                margin-left: 0.5rem;

                .project-name {
                    font-size: 1rem;
                    font-weight: 400;

                    .config {
                        margin-left: 0.5rem;

                        .config-name {
                            font-size: 0.9rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}