@import "theme";

.sidebar {
    height: 100%;
    width: 100%;
    @include theme('background-color', $secondary-color);

    padding: 1rem 0;

    .team {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
        @include theme('background-color', $primary-color);

        .team-name {
            font-size: 1.2rem;
            font-weight: 600;

            .project {
                margin-left: 0.5rem;

                .project-name {
                    font-size: 1rem;
                    font-weight: 400;

                    .config {
                        margin-left: 0.5rem;

                        .config-name {
                            font-size: 0.9rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}