@import "../theme.scss";

.page-project, .page-overview {
    &.content-with-nav, &.content {

        [class*="-cards"] {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }

            [class*="-card"] {
                width: 200px;
                height: 70px;
                display: flex;
                align-items: center;
                @include theme('background-color', $primary-color);
                margin-right: 10px;
                border-radius: 5px;
                padding: 10px 5px;

                img {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    @include theme('background-color', $secondary-color);
                    border-radius: 50px;
                }

                h3 {
                    display: inline-block;
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-left: 10px;
                    pointer-events: none;
                }
            }
        }
    }
}