@import "../theme";

// need to apply a special class per page as the dashboard loads all the stylesheets at once
.page-team {
    &.content-with-nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;

        .user-list {
            grid-area: 1 / 4 / 2 / 5;

            h3 {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 0.5rem;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin-bottom: 0.5rem;
                }
            }
        }

        // handles if both are present
        .user-list + .sub-item-list {
            grid-area: 1 / 1 / 2 / 4;
        }

        // handles if only sub-item-list is present
        .sub-item-list {
            grid-area: 1 / 1 / 2 / 5;

            h2 {
                @include theme('color', $text-color);
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            .project-cards {
                display: flex;
                flex-wrap: wrap;

                .project-card {
                    width: 200px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    @include theme('background-color', $primary-color);
                    margin-right: 10px;
                    border-radius: 5px;
                    padding: 10px 5px;

                    img {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        @include theme('background-color', $secondary-color);
                        border-radius: 50px;
                    }

                    h3 {
                        display: inline-block;
                        font-size: 1.2rem;
                        font-weight: 600;
                        margin-left: 10px;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}